<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="end2endframework.Listeners"/>
</listeners>
  <test thread-count="5" name="TestHeading">
    <classes>
       <class name="end2endframework.VerifyHeading"/>
        </classes>
  </test> 

  <test thread-count="5" name="TestHome">
    <classes>
         <class name="end2endframework.HomePageTest"/>
    </classes>
  </test> 

</suite> <!-- Suite -->
